body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.start-screen {
    background-color: #222;
    color: #fff;
}

.home-screen {
    background-color: #f0f0f0;
    color: #333;
}

.centered-text {
    font-size: 1.5rem;
    padding: 20px;
}

#tap-message {
    position: absolute;
    top: 75%; /* y軸: 画面下から1/4（= 上から75%） */
    left: 50%; /* x軸: 中心 */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4e5a6b
}

.iframe-container {
    position: absolute;
    top: 75%;        /* y軸の下から1/2 = 上から50% */
    left: 0;
    width: 100%;     /* x軸全体に広げる */
    transform: translateY(-50%); /* 中央基準で調整 */
    height: calc(100vh * 4 / 9); /* 高さ = 画面の高さの4/9 */
}